<footer class="footer">
  <div class="footer-container container">
    <h2 class="footer-title" id="footer-contacts">Contacts</h2>
    <address class="footer-contacts">
      <ul class="footer-contacts-list list">
        <li class="footer-contacts-item">
          <a
            class="footer-contacts-link link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://maps.app.goo.gl/iNgmkoacyuW4Mb1Y7"
          >
            <svg class="footer-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-place"></use>
            </svg>
            <span>Lviv, st Dorosheko, 44 k</span>
          </a>
        </li>
        <li class="footer-contacts-item">
          <a
            class="footer-contacts-link link"
            target="_blank"
            href="tel:+380971626790"
          >
            <svg class="footer-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-phone"></use>
            </svg>
            <span>+38 (097) 162-67-90</span></a
          >
        </li>
        <li class="footer-contacts-item">
          <a
            class="footer-contacts-link link"
            target="_blank"
            href="mailto:mandrykarpaty@gmail.com"
          >
            <svg class="footer-icon" width="32" height="32">
              <use href="/img/sprite.svg#icon-email"></use>
            </svg>
            <span>mandrykarpaty@gmail.com</span>
          </a>
        </li>
      </ul>
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://t.me/junior_developer_ua"
            title="Telegram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="https://www.instagram.com/goitclub/"
            title="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link link"
            href="http://www.facebook.com/goITclub/"
            title="Fasebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-text">
        <svg class="footer-icon" width="16" height="16">
          <use href="/img/sprite.svg#icon-copyright"></use>
        </svg>
        Created by LelekaSoft
      </p>
    </address>
  </div>
</footer>
