<footer>
  <h2 id="contacts">Contacts</h2>
  <address class="contacts">
    <ul class="contacts-list list">
      <li class="contacts-item">
        <a
          class="contacts-link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://maps.app.goo.gl/iNgmkoacyuW4Mb1Y7"
        >
          <svg class="footer-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-place"></use>
          </svg>
          Lviv, st Dorosheko, 44 k</a
        >
      </li>
      <li class="contacts-item">
        <a class="contacts-link link" target="_blank" href="tel:+380971626790">
          <svg class="footer-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-phone"></use>
          </svg>
          +38 (097) 162-67-90</a
        >
      </li>
      <li class="contacts-item">
        <a
          class="contacts-link link"
          target="_blank"
          href="mailto:mandrykarpaty@gmail.com"
        >
          <svg class="footer-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-email"></use>
          </svg>
          mandrykarpaty@gmail.com</a
        >
      </li>
    </ul>
    <p>
      <svg class="footer-icon" width="16" height="16">
        <use href="../img/sprite.svg#icon-copyright"></use>
      </svg>
      Created by LelekaSoft
    </p>
  </address>
</footer>
