<section class="gallery">
  <div class="gallery-container container">
    <h2 class="gallery-title" id="gallery">Gallery</h2>
    <div class="swiper">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery1-desktop-1x.jpg 1x,
                img/gallery/gallery1-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery1-tablet-1x.jpg 1x,
                img/gallery/gallery1-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery1-mobile-1x.jpg 1x,
                img/gallery/gallery1-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery1-mobile-1x.jpg" alt="nature1" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery2-desktop-1x.jpg 1x,
                img/gallery/gallery2-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery2-tablet-1x.jpg 1x,
                img/gallery/gallery2-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery2-mobile-1x.jpg 1x,
                img/gallery/gallery2-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery2-mobile-1x.jpg" alt="nature2" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery3-desktop-1x.jpg 1x,
                img/gallery/gallery3-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery3-tablet-1x.jpg 1x,
                img/gallery/gallery3-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery3-mobile-1x.jpg 1x,
                img/gallery/gallery3-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery3-mobile-1x.jpg" alt="nature3" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery4-desktop-1x.jpg 1x,
                img/gallery/gallery4-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery4-tablet-1x.jpg 1x,
                img/gallery/gallery4-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery4-mobile-1x.jpg 1x,
                img/gallery/gallery4-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery4-mobile-1x.jpg" alt="nature4" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery5-desktop-1x.jpg 1x,
                img/gallery/gallery5-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery5-tablet-1x.jpg 1x,
                img/gallery/gallery5-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery5-mobile-1x.jpg 1x,
                img/gallery/gallery5-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery5-mobile-1x.jpg" alt="nature5" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery6-desktop-1x.jpg 1x,
                img/gallery/gallery6-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery6-tablet-1x.jpg 1x,
                img/gallery/gallery6-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery6-mobile-1x.jpg 1x,
                img/gallery/gallery6-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery6-mobile-1x.jpg" alt="nature6" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery7-desktop-1x.jpg 1x,
                img/gallery/gallery7-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery7-tablet-1x.jpg 1x,
                img/gallery/gallery7-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery7-mobile-1x.jpg 1x,
                img/gallery/gallery7-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery7-mobile-1x.jpg" alt="nature7" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                img/gallery/gallery8-desktop-1x.jpg 1x,
                img/gallery/gallery8-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/gallery/gallery8-tablet-1x.jpg 1x,
                img/gallery/gallery8-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/gallery/gallery8-mobile-1x.jpg 1x,
                img/gallery/gallery8-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src=" img/gallery/gallery8-mobile-1x.jpg" alt="nature8" />
          </picture>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
