<header class="header">
  <div class="header-container container">
    <a class="header-logo-link link" href="./index.html" title="Carpathians">
      <svg class="header-logo-icon" width="40" height="40">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav is-hidden">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="link" href="#about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="link" href="#tours">Tours</a>
        </li>
        <li class="header-nav-item">
          <a class="link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <ul class="header-social-list list">
        <li class="header-social-item">
          <a
            class="header-social-link link"
            href="https://t.me/junior_developer_ua"
            title="Telegram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-social-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link link"
            href="https://www.instagram.com/goitclub/"
            title="Instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-social-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link link"
            href="http://www.facebook.com/goITclub/"
            title="Fasebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="header-social-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="header-burger">
      <input id="header-menu-toggle" type="checkbox" />
      <label class="header-menu-btn" for="header-menu-toggle">
        <span class="burger"></span>
      </label>
    </div>
  </div>
</header>
