<div class="modal-choice">
  <div>
    <ul>
      <li>
        <h3>Ascent to Hoverla</h3>
        <ul>
          <li>1 day</li>
          <li>Departure from Lviv</li>
          <li>Manyava Hermitage</li>
          <li>Manyava waterfall</li>
          <li>Arrival to Bukovel</li>
          <li>Check-in</li>
          <li>Dinner</li>
          <li>Evening by the fireplace</li>
        </ul>
      </li>
      <li>
        <h3>Ascent to Hoverla</h3>
        <ul>
          <li>2 day</li>
          <li>Breakfast</li>
          <li>Ascent to Hoverla</li>
          <li>Dinner</li>
          <li>Reacretion</li>
          <li>Sauna</li>
          <li>Dinner</li>
        </ul>
      </li>
      <li>
        <h3>Ascent to Hoverla</h3>
        <ul>
          <li>3 day</li>
          <li>Breakfast</li>
          <li>A walk around Bukovel</li>
          <li>Check out from the hotel</li>
          <li>Yaremche</li>
          <li>Arrival in Lviv</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
