<section class="modal-choice popup is-hidden" id="modal-choice">
  <div class="backdrop popup-body">
    <div class="modal-container container popup-content">
      <div class="swiper">
        <ul class="swiper-wrapper more-details-list list">
          <li class="swiper-slide more-details-item">
            <div class="more-details-wrapper">
              <h3 class="more-details-title">Ascent to Hoverla</h3>
              <button type="button" class="more-details-close-btn popup-close">
                <svg class="icon-close-modal" width="24" height="24">
                  <use href="../img/sprite.svg#icon-close">x</use>
                </svg>
              </button>
              <p class="more-details-text">1 day</p>
              <ul class="day-list list">
                <li>Departure from Lviv</li>
                <li>Manyava Hermitage</li>
                <li>Manyava waterfall</li>
                <li>Arrival to Bukovel</li>
                <li>Check-in</li>
                <li>Dinner</li>
                <li>Evening by the fireplace</li>
              </ul>
            </div>
          </li>
          <li class="swiper-slide more-details-item">
            <h3 class="more-details-title">Ascent to Hoverla</h3>
            <button type="button" class="more-details-close-btn popup-close">
              <svg class="icon-close-modal" width="24" height="24"></svg>
            </button>
            <p class="more-details-text">2 day</p>
            <ul class="day-list list">
              <li>Breakfast</li>
              <li>Ascent to Hoverla</li>
              <li>Dinner</li>
              <li>Reacretion</li>
              <li>Sauna</li>
              <li>Dinner</li>
            </ul>
          </li>
          <li class="swiper-slide more-details-item">
            <h3 class="more-details-title">Ascent to Hoverla</h3>
            <button type="button" class="more-details-close-btn popup-close">
              <svg class="icon-close-modal" width="24" height="24"></svg>
            </button>
            <p class="more-details-text">3 day</p>
            <ul class="day-list list">
              <li>Breakfast</li>
              <li>A walk around Bukovel</li>
              <li>Check out from the hotel</li>
              <li>Yaremche</li>
              <li>Arrival in Lviv</li>
            </ul>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <div class="more-details-wrapper-down">
        <p class="more-details-price">UAH 4,499/person</p>
        <button class="hero-button" type="button">BOOK A TOUR</button>
      </div>
    </div>
  </div>
</section>
