<div class="modal-choice is-hidden" id="modal-choice">
  <div class="swiper">
    <ul class="swiper-wrapper more-details-list list">
      <li class="swiper-slide more-details-item">
        <h3 class="more-details-title">Ascent to Hoverla</h3>
        <ul class="day-list list">
          <li>1 day</li>
          <li>Departure from Lviv</li>
          <li>Manyava Hermitage</li>
          <li>Manyava waterfall</li>
          <li>Arrival to Bukovel</li>
          <li>Check-in</li>
          <li>Dinner</li>
          <li>Evening by the fireplace</li>
        </ul>
        <p>UAH 4,499/person</p>
        <button class="hero-button" type="button">BOOK A TOUR</button>
      </li>
      <li class="swiper-slide more-details-item">
        <h3 class="more-details-title">Ascent to Hoverla</h3>
        <ul class="day-list list">
          <li>2 day</li>
          <li>Breakfast</li>
          <li>Ascent to Hoverla</li>
          <li>Dinner</li>
          <li>Reacretion</li>
          <li>Sauna</li>
          <li>Dinner</li>
        </ul>
        <p>UAH 4,499/person</p>
        <button class="hero-button" type="button">BOOK A TOUR</button>
      </li>
      <li class="swiper-slide more-details-item">
        <h3 class="more-details-title">Ascent to Hoverla</h3>
        <ul class="day-list list">
          <li>3 day</li>
          <li>Breakfast</li>
          <li>A walk around Bukovel</li>
          <li>Check out from the hotel</li>
          <li>Yaremche</li>
          <li>Arrival in Lviv</li>
        </ul>
        <p>UAH 4,499/person</p>
        <button class="hero-button" type="button">BOOK A TOUR</button>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</div>
