<div class="modal-book">
  <button class="modal-button" type="button">
    <svg class="modal-btn-close" width="30" height="30">
      <use href="img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h2>Book a tour</h2>
  <p>
    You can leave your application here and our manager will call you
    within 10 minutes
  </p>
  <form class="modal-form">
    <label for=""
      ><input
        type="text"
        name="username"
        placeholder="Your name*"
        required /></label
    ><label for=""
      ><input
        type="tel"
        name="userphone"
        placeholder="Phone number*"
        required /></label
    ><label for=""
      ><input type="checkbox" name="tour" value="sports" checked />Ascent
      to Hoverla</label
    ><label for=""
      ><input type="checkbox" name="tour" value="sports" />Ski tour to
      Bukovel</label
    ><label for=""
      ><input type="checkbox" name="tour" value="sports" />Week in
      Carpathians</label
    >
    <button type="button">CALL ME</button>
  </form>
</div>
