<section class="our-advantages">
  <div class="our-advantages-container container">
    <h2 class="our-advantages-title">Our advantages</h2>
    <ul class="our-advantages-list list">
      <li class="our-advantages-item">author's tours</li>
      <li class="our-advantages-item">іndividual approach</li>
      <li class="our-advantages-item">affordable prices</li>
      <li class="our-advantages-item">comfortable transfer</li>
      <li class="our-advantages-item">professional guides</li>
      <li class="our-advantages-item">accommodation in hotels from 3+ *</li>
    </ul>
  </div>
</section>
