<section class="questions">
  <div class="questions-container container">
    <div class="questions-wrapper">
      <h2 class="questions-title">Do you have any questions?</h2>
      <p class="questions-text">
        You can leave your questions here and our manager will call you back
        within 10 minutes
      </p>
      <form class="questions-form">
        <label class="form-label" for="userName"
          ><input
            type="text"
            name="username"
            id="userName"
            placeholder="Your name*"
            pattern="[a-zA-Zа-яА-ЯІіЇїЄє ]+(([' \-][a-zA-Zа-яА-ЯІіЇїЄє ])?[a-zA-Zа-яА-ЯІіЇїЄє])+$"
            required
        /></label>
        <label class="form-label" for="userNumber"
          ><input
            type="tel"
            name="userphone"
            id="userNumber"
            placeholder="Phone number*"
            pattern="\+?[0-9\s\-\(\)]+"
            required
        /></label>
        <label class="form-label"
          ><input
            type="text"
            name="userquestion"
            placeholder="What would you like to know?"
            required
        /></label>
        <button class="questions-button" type="submit" disabled>CALL ME</button>
      </form>
    </div>
  </div>
</section>
