<section class="questions">
  <div class="questions-container container">
    <h2>Do you have any questions?</h2>
    <p>
      You can leave your questions here and our manager will call you back
      within 10 minutes
    </p>
    <form class="questions-form">
      <label class="form-label"
        ><input type="text" name="username" placeholder="Your name*" required
      /></label>
      <label class="form-label"
        ><input
          type="tel"
          name="userphone"
          placeholder="Phone number*"
          required
      /></label>
      <label class="form-label"
        ><input
          type="text"
          name="userquestion"
          placeholder="What would you like to know?"
          required
      /></label>
      <button type="submit" disabled>CALL ME</button>
    </form>
  </div>
</section>
