<section class="reviews">
  <h2 id="reviews">Reviews</h2>
  <ul class="list">
    <li>
      <h3>Maria</h3>
      <p>
        It was really cool! We saw everything - sun, snow, rain, fog! It's very
        exciting and interesting, you won't regret it - it's worth going and
        seeing everything with your own eyes. Everything is organized
        at the highest level.
      </p>
    </li>
    <li>
      <h3>Ostap</h3>
      <p>
        Good organization, everything went smoothly. Friendly guide Taras told
        interesting facts about the area and customs throughout the tour.
      </p>
    </li>
  </ul>
</section>
