<section class="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title" id="reviews">Reviews</h2>
    <ul class="reviews-list list">
      <li class="reviews-item">
        <div class="reviewers-photo-wrapper">
          <img
            class="reviewers-photo"
            srcset="
              ../img/reviews/maria-1x.png 1x,
              ../img/reviews/maria-2x.png 2x
            "
            src="../img/reviews/maria-1x.png"
            alt="Maria"
            width="100"
            height="100"
          />
        </div>
        <h3 class="reviewers-name">Maria</h3>
        <p class="reviews-text">
          It was really cool! We saw everything - sun, snow, rain, fog! It's
          very exciting and interesting, you won't regret it - it's worth going
          and seeing everything with your own eyes. Everything is organized
          at the highest level.
        </p>
        <button class="reviews-button" type="button">
          <svg class="reviews-svg" width="32" height="32">
            <use href="../img/sprite.svg#icon-round"></use>
          </svg>
        </button>
      </li>
      <li class="reviews-item">
        <div class="reviewers-photo-wrapper">
          <img
            class="reviewers-photo"
            srcset="
              ../img/reviews/ostap-1x.png 1x,
              ../img/reviews/ostap-2x.png 2x
            "
            src="../img/reviews/ostap-1x.png"
            alt="Ostap"
            width="100"
            height="100"
          />
        </div>
        <h3 class="reviewers-name">Ostap</h3>
        <p class="reviews-text">
          Good organization, everything went smoothly. Friendly guide Taras told
          interesting facts about the area and customs throughout the tour.
        </p>
        <button class="reviews-button" type="button">
          <svg class="reviews-svg" width="32" height="32">
            <use href="../img/sprite.svg#icon-round"></use>
          </svg>
        </button>
      </li>
      <li class="reviews-item">
        <div class="reviewers-photo-wrapper">
          <img
            class="reviewers-photo"
            srcset="
              ../img/reviews/anita-1x.png 1x,
              ../img/reviews/anita-2x.png 2x
            "
            src="../img/reviews/anita-1x.png"
            alt="Anita"
            width="100"
            height="100"
          />
        </div>

        <h3 class="reviewers-name">Anita</h3>
        <p class="reviews-text">
          Who is going to the mountains for the first time - this is exactly
          the tour and the people who organize everything. Guide Makar is
          interesting stories, selection of a route for a comfortable ascent,
          motivation and support.
        </p>
        <button class="reviews-button" type="button">
          <svg class="reviews-svg" width="32" height="32">
            <use href="../img/sprite.svg#icon-round"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
