<section class="upcoming-tours">
  <div class="tours-container container">
    <h2 class="tours-title" id="tours">Upcoming tours</h2>
    <div class="swiper">
      <ul class="swiper-wrapper tours-list list" navigation="true">
        <li class="swiper-slide tours-item">
          <picture>
            <source
              srcset="
                img/tours/carpathians-desktop-1x.jpg 1x,
                img/tours/carpathians-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/tours/carpathians-tablet-1x.jpg 1x,
                img/tours/carpathians-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/tours/carpathians-mobile-1x.jpg 1x,
                img/tours/carpathians-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="img/tours/carpathians-mobile-1x.jpg"
              alt="carpathians"
              width="311"
              height="338"
            />
          </picture>
          <h3 class="tours-item-title">Week in Carpathians</h3>
          <p class="tours-item-text">From UAH 9,999/person</p>
          <button
            class="tours-item-button"
            data-modal="carpathians"
            type="button"
          >
            MORE DETAILS
          </button>
        </li>
        <li class="swiper-slide tours-item">
          <picture>
            <source
              srcset="
                img/tours/bukovel-desktop-1x.jpg 1x,
                img/tours/bukovel-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/tours/bukovel-tablet-1x.jpg 1x,
                img/tours/bukovel-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/tours/bukovel-mobile-1x.jpg 1x,
                img/tours/bukovel-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src=" img/tours/bukovel-mobile-1x.jpg"
              alt="bukovel"
              width="311"
              height="338"
            />
          </picture>
          <h3 class="tours-item-title">Ski tour to Bukovel</h3>
          <p class="tours-item-text">From UAH 7,499/person</p>
          <button class="tours-item-button" data-modal="bukovel" type="button">
            MORE DETAILS
          </button>
        </li>
        <li class="swiper-slide tours-item">
          <picture>
            <source
              srcset="
                img/tours/hoverla-desktop-1x.jpg 1x,
                img/tours/hoverla-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                img/tours/hoverla-tablet-1x.jpg 1x,
                img/tours/hoverla-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                img/tours/hoverla-mobile-1x.jpg 1x,
                img/tours/hoverla-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src=" img/tours/hoverla-mobile-1x.jpg"
              alt="hoverla"
              width="311"
              height="338"
            />
          </picture>
          <h3 class="tours-item-title">Ascent to Hoverla</h3>
          <p class="tours-item-text">From UAH 4,499/person</p>
          <button class="tours-item-button" data-modal="hoverla" type="button">
            MORE DETAILS
          </button>
        </li>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
