<!-- <section class="upcoming-tours">
        <div class="tours-container container">
          <h2 class="tours-title" id="tours">Upcoming tours</h2>
          <ul class="tours-list list">
            <li class="tours-item">
              <h3 class="tours-item-title">Week in Carpathians</h3>
              <p class="tours-item-text">From UAH 9,999/person</p>
              <button class="tours-item-button" type="button">
                MORE DETAILS
              </button>
            </li>
            <li class="tours-item">
              <h3 class="tours-item-title">Ski tour to Bukovel</h3>
              <p class="tours-item-text">From UAH 7,499/person</p>
              <button class="tours-item-button" type="button">
                MORE DETAILS
              </button>
            </li>
            <li class="tours-item">
              <h3 class="tours-item-title">Ascent to Hoverla</h3>
              <p class="tours-item-text">From UAH 4,499/person</p>
              <button class="tours-item-button" type="button">
                MORE DETAILS
              </button>
            </li>
          </ul>
        </div>
      </section> -->
<section class="upcoming-tours">
  <div class="tours-container container">
    <h2 class="tours-title" id="tours">Upcoming tours</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <ul class="tours-list list">
          <li class="tours-item">
            <div class="swiper-slide">
              <h3 class="tours-item-title">Week in Carpathians</h3>
              <p class="tours-item-text">From UAH 9,999/person</p>
              <button class="tours-item-button" type="button">
                MORE DETAILS
              </button>
            </div>
          </li>
          <li class="tours-item">
            <div class="swiper-slide">
              <h3 class="tours-item-title">Ski tour to Bukovel</h3>
              <p class="tours-item-text">From UAH 7,499/person</p>
              <button class="tours-item-button" type="button">
                MORE DETAILS
              </button>
            </div>
          </li>
          <li class="tours-item">
            <div class="swiper-slide">
              <h3 class="tours-item-title">Ascent to Hoverla</h3>
              <p class="tours-item-text">From UAH 4,499/person</p>
              <button class="tours-item-button" type="button">
                MORE DETAILS
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
