.about-us {
  padding-top: 52px;
}
.about-container {
}

.about-title {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  gap: 4px;

  /* max-width: 311px; */
}

.about-text {
  color: var(--primary-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
