:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --primary-blue: #5b86a1;
  --primary-black: #1b1d1b;
  --primary-dark: #202321;
  --primary-light: #f7fbfb;
  --primary-grey: #a3a5a3;
  --primary-bg-dark: rgba(32, 35, 33, 0.7);

  --swiper-theme-color: var(--primary-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--primary-black);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: beige;
}

.container {
  min-width: 320px;
  max-width: 334px;
  margin: 0 auto;
  padding: 0 10px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  position: absolute;
}

.no-scroll {
  overflow: hidden;
}

button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}
img {
  display: block;
}

@media screen and (min-width: 335px) {
  .container {
    max-width: 335px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 135px;
  }
}
