.gallery {
  padding-top: 52px;
}

.gallery-container {
}

.gallery-title {
  color: var(--primary-black);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.swiper-wrapper {
}

.swiper-slide {
}

.gallery-image {
  display: block;
  margin: 0 auto;
}
