.gallery {
  padding-top: 30px;
  /* padding-top: 52px; */
}

.gallery-container {
}

.gallery-title {
  color: var(--primary-black);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

.gallery-block {
}

.swiper {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.swiper-wrapper {
}

.swiper-slide {
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}
