.header {
  position: absolute;
  width: 100%;
  max-width: 335px;
  text-align: center;
  padding-top: 20px;
}
.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header-nav {
  display: block;
  position: fixed;
  transition-duration: 0.25s;
  padding-top: 132px;
  padding-left: 32px;
  top: 0;
  left: 0;
  z-index: 800;
  overflow: auto;
  width: 233px;
  height: 100%;
  background: var(--primary-bg-dark);
}

.header-logo-link {
}

.header-nav-list {
  transition-duration: 0.25s;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header-nav-item {
  color: var(--primary-light);
  font-size: 28px;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  line-height: normal;
}

.header-social-list {
  transition-duration: 0.25s;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-social-item {
  text-align: start;
}

.header-social-link {
}

.header-social-icon {
  fill: var(--primary-light);
}

.header-burger {
}

#header-menu-toggle {
  opacity: 0;
}

#header-menu-toggle:checked ~ .header-menu-btn > span {
  transform: rotate(45deg);
}

#header-menu-toggle:checked ~ .header-menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}

#header-menu-toggle:checked ~ .header-menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#header-menu-toggle:checked ~ .header-nav {
  visibility: visible;
  left: 0;
}

.header-menu-btn {
  display: flex;
  align-items: center;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  right: 32px;
  top: 20px;
}

.burger,
.burger::before,
.burger::after {
  position: absolute;
  width: 32px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--primary-light);
  transition-duration: 0.25s;
  left: 50%;
  margin-left: -16px;
}

.burger::before {
  content: '';
  top: -8px;
}

.burger::after {
  content: '';
  top: 8px;
}
.header-logo-icon {
  fill: var(--primary-light);

  z-index: 999;
}
