.header {
  position: absolute;
  width: 100%;
  max-width: 335px;
  text-align: center;
  padding-top: 20px;
}
.header-container {
  display: flex;
  flex-direction: row;
}

.header-nav {
}

.header-logo-link {
}

.header-logo-icon {
  fill: var(--primary-light);
}
.header-nav-list {
}
.list {
}
.header-social-list {
}
.header-social-item {
}
.header-social-link {
}
.header-social-icon {
}
.header-burger {
}

#mobile-menu-toggle {
  opacity: 0;
}
.mobile-menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  right: 32px;
  top: 20px;
}

.burger,
.burger::before,
.burger::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--primary-light);
  transition-duration: 0.25s;
  left: 50%;
  margin-left: -16px;
}

.burger::before {
  content: '';
  top: -8px;
}

.burger::after {
  content: '';
  top: 8px;
}

/* .mobile-menu-list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  transition-duration: 0.25s;
} */
.list {
}
.mobile-menu-item {
}
.mobile-menu-link {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.mobile-menu-link:hover {
  background-color: #cfd8dc;
}

#menu-toggle:checked ~ .burger {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .burger::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .burger::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .mobile-menu-list {
  visibility: visible;
  left: 0;
}
