.upcoming-tours {
  padding-top: 52px;
}
.tours-container {
}

.tours-title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 28px;
}

.tours-list {
}

.tours-item {
}

.tours-item-button {
  color: var(--primary-light);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: 271px;
  height: 53px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: var(--primary-blue);
  border: none;
  margin-bottom: 28px;
}

.swiper {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  box-sizing: border-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var(--primary-blue);
}

.tours-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 28px;
  margin-left: 0;
}

.tours-item-text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 0;
}
